.content{
    height: 100vh;
    top: 0;
}
.canvas{
    height: 35vh;
    align-items: center;
    justify-content: center;
}
.list-item{
    position: relative;
    display: block;
    color: #4f4f4f;
    text-decoration: none;
    background-color: transparent;
}
.nav-tabs {
    /* border-bottom: 0; */
    border-radius: 25px;
    background-color: coral;
    border: 1px solid;
    /* margin-top: 0.5rem; */
}
.nav-link{
    color: #f7f7f7 !important;
}
.nav-tabs .nav-link:hover {
    background-color: #f7f7f7;
    /* border-color: transparent; */
    border-radius: 25px;
    color: #3b71ca !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #3b71ca !important;
    border-color: #3b71ca;
    border-radius: 25px;
}